<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <!--Header-->
    <header>
        <div>
            <nav class="navbar navbar-expand-md navbar-light sticky-top">
                <div class="container-fluid">
                    <a href="/" class="navbar-brand"><img src="/img/homecooking.jpg" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav">
                            <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/mealsPackage" class="nav-link">Meal Package</a></li>
                            <li class="nav-item"><a href="/registration" class="nav-link">Registration</a></li>
                            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                        </ul>
                    </div>

                    <div class="side-logo">
                        <a href="/"><img src="/img/myLogo.jpg" alt="dashboard"></a>
                        <a href="/"><img src="/img/search.jpg" alt="search"></a>
                        <a href="/"><img src="/img/cart.jpg" alt="cart"></a> 
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!--Main Body-->
    <main>

        <!--Food Hero Section-->
        <div id="slides" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
            </ul>

            <div class="set-image">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/background1.jpg" alt="">

                        <div class="carousel-caption carou-cap">
                            <h1 class="display-4">{{h1_quote}}</h1>
                            <h3>{{h3_quote}}</h3>
                            <button type="button" class="btn btn-outline-light btn-lg">Meals Package</button>
                            <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="/img/foodHero.jpg" alt="">
                    </div>

                    <div class="carousel-item">
                        <img src="/img/background2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        {{{body}}}
    </main>

    <!--Footer-->
    <footer>

        <div class="container-fluid padding">

            <div class="row text-center padding">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>About Us</h4>
                    <p><a href="">Credentials</a></p>
                    <p><a href="">Student Discount</a></p>
                    <p><a href="">Gift Cards</a></p>
                    <b>Our App</b>
                    <br>
                    <img class="appLogo" src="/img/gpAppLogo.webp" alt="">
                    <br>
                    <img class="appLogo" src="/img/iosAppLogo.webp" alt="">
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>Help & Support</h4>
                    <p><a href="">FAQ</a></p>
                    <p><a href="">Terms & Conditions</a></p>
                    <p><a href="">Contact Us</a></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>Our Menu</h4>
                    <p><a href="">Meal Packages</a></p>
                    <p><a href="">Make your own package</a></p>
                    <p><a href="">Indian</a></p>
                    <p><a href="">Chinese</a></p>
                    <p><a href="">American</a></p>
                    <p><a href="">Dessert</a></p>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <h4>Subscription Newsletter</h4>
                    <p class="lead">Enter your email for a chance <br>to win a $150 e-gift card!</p>
                    <form action="" method="POST">
                        <input id="newsletter" type="email" placeholder="Enter your email" style="width: 85%; height: 30px;"> <br><br>
                        <button id="subscribe"><b>Subscribe</b></button>
                    </form>
                </div>    
            </div>
        </div>

        <hr>

        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <b>&copy; 2020 Masterchef J Inc.</b>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="social" src="/img/fbLogo.jpg" alt="">
                    <img class="social" src="/img/instaLogo.jpg" alt="">
                    <img class="social" src="/img/tweetLogo.jpg" alt="">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="text-align: center;">
                    <img src="/img/amex.svg" alt="">
                    <img src="/img/applePay.svg" alt="">
                    <img src="/img/gpay.svg" alt="">
                    <img src="/img/mastercard.svg" alt="">
                    <img src="/img/visa.svg" alt="">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>