<div class="dashboard-greeting">
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <a href="/addPackage"><button type="button" class="btn btn-outline-secondary btn-lg"><b>Create Mealpackage</b></button></a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <a href="/viewPackages"><button type="button" class="btn btn-outline-secondary btn-lg"><b>View/Edit MealPackage</b></button></a>
            </div>

        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <a href="/cart"><button type="button" class="btn btn-outline-secondary btn-lg"><b>View Cart</b></button></a>
            </div>

             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <a href="/user/logout"><button type="button" class="btn btn-outline-secondary btn-lg"><b>logout</b></button></a>
            </div>
        </div>
    </div>


    <p>Hi&ensp;!! {{field.firstName}} {{field.lastName}} (Position : Data Clerk)</p>

    <div class="col-md-3"><img style="width: 90%; border-radius:20%; height:150px" src="/img/userImages/{{field.photo}}" alt="Image for {{field.firstName}}"></div>

    <p>Welcome To Masterchef J. Community</p>

    <p style="color:greenyellow;">Go to Meal Packages Section and add meal packages to your cart</p>

    <p>You have been added as a Data Clerk and you are welcome to use our services and edit your profile</p>

    <i>Don't Waste your time and order your favourite cuisines and satisfy your hungry belly</i>
</div>