<div class="dashboard-greeting">
    <p>Hi&ensp;!!</p>

    <p>Welcome To Masterchef J. Community</p>

    <p>You have been added as a user member and you are welcome to use our services and edit your profile</p>

    <i>Don't Waste your time and order your favourite cuisines and satisfy your hungry belly</i>
</div>