<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-4 col-md-3 col-sm-2"></div>

        <div class="col-lg-4 col-md-6 col-sm-8">
            <form action="/login" method="POST" id="form-ui">
                <fieldset>
                    <legend><b>Customer Login</b></legend>

                    <div class="col-12 social-pic">
                        <img class="social" src="/img/fbLogo.jpg" alt="">
                        <img class="social" src="/img/instaLogo.jpg" alt="">
                        <img class="social" src="/img/tweetLogo.jpg" alt="">
                    </div>

                    <div class="col-12" id="or">
                        <hr>or<hr>
                    </div>

                    <div class="col-12">
                        <label for="email">Email</label>
                        {{#each errorMessages}}<div>{{this.email}}</div>{{/each}}
                        <div><input type="email" name="EmailLog" value={{field.email}}></div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-4"><label for="password">Password</label></div>
                            <div class="col-8" style="text-align: right;"><a><i>Forgot Password?</i></a> </div>
                        </div>
                        {{#each errorMessages}}<div>{{this.password}}</div>{{/each}}
                        <div><input type="password" name="PasswordLog" value={{field.password}}></div>
                    </div>

                    <div class="col-12">
                        <b><input type="submit" value="Sign in" id="signIn"></b>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-2"></div>
    </div>

</div>