<div class="foodHero-packages">
    <div class="quotes-2">
        Visit our Meal Package Section
    </div>

    <div class="quotes-3">
        Enjoy the Variety!!!
    </div>
</div>

<div class="box">
    <form action="" method="post">
        <fieldset>
            <legend><b>Create Account</b></legend>

            <br>

            <div class="social-logo">
                <img class="form-social" id="fb" src="/img/fbLogo.jpg" alt="">
                <img class="form-social" src="/img/instaLogo.jpg" alt="">
                <img class="form-social" src="/img/tweetLogo.jpg" alt="">
            </div>

            <br>

            <div id="or">
                <hr>
                 or
                <hr>
            </div>

            <br><br>

            <div class="login-fields">
                <label for="email">Email</label> <br><br>
                <input type="email" id="emailLog" name="EmailLog">
            </div>

            <br><br>

            <div class="login-fields">
                <label for="password">Password</label> <a id="forgot" href=""><i>Forgot your Password?</i></a> <br><br>
                <input type="password" id="passwordLog" name="PasswordLog">
            </div>

            <br><br>

            <div class="login-button">
                <b><input type="submit" value="SIGN IN" id="signIn"></b>
            </div>

            <br><br>

        </fieldset>
    </form>
</div>