<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-4 col-md-3"></div>

        <div class="col-lg-4 col-md-6">
            <form action="" method="post" id="form-ui">
                <fieldset>
                    <legend><b>Create Account</b></legend>

                    <div class="col-12 social-pic">
                        <img class="social" src="/img/fbLogo.jpg" alt="">
                        <img class="social" src="/img/instaLogo.jpg" alt="">
                        <img class="social" src="/img/tweetLogo.jpg" alt="">
                    </div>

                    <div class="col-12" id="or">
                        <hr>or<hr>
                    </div>

                    <div class="col-12">
                        <label for="fname">First Name</label><br>
                        <input type="text" name="Fname">
                    </div>

                    <div class="col-12">
                        <label for="lname">Last Name</label> <br>
                        <input type="text" name="Lname">
                    </div>

                    <div class="col-12">
                        <label for="email">Email</label> <br>
                        <input type="email" name="Email">
                    </div>

                    <div class="col-12">
                        <label for="password">Password</label> <br>
                        <input type="password" name="password">
                    </div>

                    <div class="col-12">
                        <b><input type="submit" value="Sign Up" id="signUp"></b>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="col-lg-4 col-md-3"></div>
    </div>

</div>