<div class="foodHero">

    <div class="quotes-1">
        Your Cuisine, Your Home. <br>
        Get instantly delivered.
    </div>
</div>

<div class="quotes-1-nav">
        Order variety of cuisines, juices, coffee and deserts.
        <b>Order Now</b>
</div>

<div class="box-reg">
    <form action="" method="post">
        <fieldset>
            <legend><b>Create Account</b></legend>

            <br>

            <div class="social-logo">
                <img class="form-social" id="fb" src="/img/fbLogo.jpg" alt="">
                <img class="form-social" src="/img/instaLogo.jpg" alt="">
                <img class="form-social" src="/img/tweetLogo.jpg" alt="">
            </div>

            <br>

            <div id="or">
                <hr>
                 or
                <hr>
            </div>

            <br><br>

            <div class="login-fields">
                <label for="fname">First Name</label> <br>
                <input type="text" id="fname" name="Fname">
            </div>

            <br>

            <div class="login-fields">
                <label for="lname">Last Name</label> <br>
                <input type="text" id="lname" name="Lname">
            </div>

            <br>

            <div class="login-fields">
                <label for="email">Email</label> <br>
                <input type="email" id="email" name="Email">
            </div>

            <br>

            <div class="login-fields">
                <label for="password">Password</label> <br>
                <input type="password" id="Password" name="password">
            </div>

            <br><br>

            <div class="login-button">
                <b><input type="submit" value="Sign Up" id="signUp"></b>
            </div>

        </fieldset>
    </form>
</div>