@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*--Media Queries--*/
@media (max-width: 992px)
{
    .set-image
    {
        padding: 0!important;
    }

    .set-image img
    {
        width: 100%;
        height: 500px!important;
    } 
}

@media (max-width: 768px)
{
    .display-quote
    {
        background-color: transparent!important;
    } 
}

@media (max-width: 576px)
{
    .set-image img
    {
        width: 100%;
        height: 400px!important;
    }
}


/*--Firefox Bug Fix--*/
.carousel-item
{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--Bootstrap Padding Fix--*/
[class*="col-"]
{
    padding: 1rem;
}

/*Header Navigation*/

header
{
    background-color:#c70039;
}

.navbar-toggler
{
    background-color: white;
}

.navbar-light .navbar-nav .nav-link 
{
    font-weight: bolder;
    color: white;
    font-size: x-large;
}

/*home*/

.set-image
{
    padding: 0 7%;
    background-image: url("/img/wallpaper3.jpg");
    background-size: 100%;
}
.set-image img
{
    width: 100%;
    height: 600px;
}

.jumbotron
{
    padding: 1rem;
    border-radius: 0;
}

.display-quote
{
    color: whitesmoke;
    background-color: burlywood;
    border-radius: 50%;
    font-size: 2.5rem;
}

.cuisine-display
{
    border-radius: 20%;
}

.service-display
{
    border-radius: 20%;
}

.cuisine-display:hover
{
    transform:scale(1.1);
    cursor:pointer;	
}

.service-display:hover
{
    transform:scale(1.1);
    cursor:pointer;
}

.service-display-quote
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.jumbotron p
{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron button
{
    border: 2px solid black;
}

.display-4
{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-master
{
    font-size: xx-large;
    font-style: oblique;
    font-family: cursive;
}

.order-quote
{
    font-family: serif;
}

.cuisine-display-information
{
    font-family: sans-serif;
}

.money
{
    color: green;
    font-weight: bold;
}

/*Meal Package*/
.topmeal-display
{
    border-radius: 20%;
}

.topmeal-display:hover
{
    transform:scale(1.1);
    cursor:pointer;
}

.topmeal-display-information
{
    font-family: serif;
    font-size: medium;
}

/*footer*/
footer
{
    background-color:#c70039;
    
}

footer a, footer p
{
    color: black;
    font-weight: bold;
}

.social
{
    width: 30px;
    height: 25px;
    border-radius: 25%;
    margin: 0 10px;
}

.appLogo
{
    height: 38px;
    width: 120px;
}

/*box*/
.social-pic
{
    text-align: center;
}

#form-ui
{
    border: 1px solid black;
    background-color: darkgray;
}

#or
{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Forms*/
.field-input
{
    width: 80%;
}

label
{
    text-align: center;
}

.blank-design
{
    background-image: url("/img/wallpaper3.jpg");
    background-size: 100%;
}

legend,.label-name
{
    text-align: center;
    font-family: cursive;
}

.error-style
{
    color: red;
    font-size: small;
}

/*DashBoard*/
.dashboard-greeting
{
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("/img/wallpaper3.jpg");
    background-size: 100%;
    color: bisque;
    padding: 5% 10%;
}